$black: #232536;
$white: #ffffff;
$yellow: #ffd050;
$purple: #592EA9;
$dark-grey: #4C4C4C;
$medium-grey: #6D6E76;
$lavender: #F4F0F8;
$font: "Inter", sans-serif;
$font-primary: "Sen", sans-serif;
